Source: io.elementary.settings.power
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libdbus-1-dev,
               libadwaita-1-dev,
               libgranite-7-dev,
               libpolkit-gobject-1-dev,
               libswitchboard-3-dev,
               meson,
               valac (>= 0.34.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-power

Package: io.elementary.settings.power
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: power-profiles-daemon
Enhances: io.elementary.settings
Description: Power plug for Switchboard
 This plug configures system power consumption.
