Source: switchboard-plug-power
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libgranite-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.22),
               gnome-settings-daemon-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/switchboard-plug-power

Package: switchboard-plug-power
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, laptop-detect
Enhances: switchboard
Recommends: elementary-dpms-helper
Description: Power plug for Switchboard
 This plug configures system power consumption.

Package: switchboard-plug-power-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-power (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-power
Description: Power plug for Switchboard (debugging symbols)
 This plug configures system power consumption.
 .
 This package contains debugging symbols for switchboard-plug-power.
