[Desktop Entry]
Name=Power
Comment=Set display brightness, power button behavior, and sleep preferences
Exec=switchboard -o system-pantheon-power
Icon=preferences-system-power
Terminal=false
Type=Application
StartupNotify=true
Categories=X-PANTHEON-Switchboard-Plugs;
OnlyShowIn=Pantheon;
Keywords=Power;Energy;Battery
X-GNOME-Gettext-Domain=switchboard